<div class="flex flex-col items-center justify-center h-screen text-center">
  <h1 class="font-black text-6xl py-8">Looks like you're lost</h1>
  <img src="https://midu.dev/images/this-is-fine-404.gif" />
</div>
