---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ListOfGames from "../components/ListOfGames.astro";
---

<Layout>
  <main class="m-auto max-w-4xl">
    <Title />
    <ListOfGames />
  </main>
</Layout>
